/* 
цвет лого - акцент - #2196F3;
цвет лого - #000000;
навигация, заголовки h2 h3 - #212121;
телефон, текст - #757575;
кнопка и h1, лого в футере, адресс  - #FFFFFF;
телефон и мыло в футере - color: rgba(255, 255, 255, 0.6);
 */
:root {
  --accent-color: #2196f3;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --second-text-color: #ffffff;
  --dark-logo-text: #000000;
  --light-logo-text: #ffffff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* -----Шапка------ */


.header {
  border-bottom: 1px solid #ececec;
  padding-bottom: 24px;
  padding-top: 24px;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-logo,
.footer-logo {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-logo {
  margin-right: 95px;
}

.dark-logo {
  color: var(--dark-logo-text);
}

.light-logo {
  color: var(--light-logo-text);
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

.haeder-contacts-list {
  display: flex;
  margin-left: auto;
}

.header-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.header-contacts:hover,
.header-contacts:focus {
  color: var(--accent-color);
}

.contact-item:not(:first-child) {
  margin-left: 50px;
}

/* -----Герой---- */
.hero {
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-text-color);
  margin-bottom: 30px;
}

.order-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--second-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  /* height: 50px;
  min-width: 200px; */
  padding: 10px 32px;
  margin: 0 auto;
}

.order-btn:hover {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* -----Особенности----- */
.reasons {
  padding: 94px 0;
}

.reasons-list {
  display: flex;
}

.reasons-list .list {
  width: 270px;
}

.reasons-list .list:not(:last-child) {
  margin-right: 30px;
}

.reasons-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.reasons-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* -----Чем занимается компания----- */
.about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

.about-img {
  display: flex;
}

.about-img .list:not(:last-child) {
  margin-right: 30px;
}

.about {
  padding-bottom: 94px;
}
/*-----Наша команда-----*/
.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
}

.team-card {
  flex-basis: calc(100% / 4 - 30px);
  /* margin-right: 30px; */
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-card:not(:last-child) {
  margin-right: 30px;
}

.description {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-person {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-align: center;
  margin-bottom: 10px;
}

.team-position {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
}

/* -----Футер----- */
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  margin-bottom: 9px;
}

.footer-contacts-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contacts {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  display: block;
 
}

.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--accent-color);
}

/* -----Портфолио----- */
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.btn-filter-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.btn-filter-item:not(:last-child) {
  margin-right: 8px;
}

.btn-filter {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  cursor: pointer;
  padding: 6px 22px;
  background-color: #f5f4fa;
  border: 1px solid #f5f4fa;
  border-radius: 4px;
}

.btn-filter:hover,
.btn-filter:focus {
  color: var(--second-text-color);
  background-color: var(--accent-color);
}

.active:active {
  color: var(--second-text-color);
  background-color: var(--accent-color);
}

.project {
  padding: 22px 24px 20px;
  border: 1px solid #eeeeee;
  border-top: none;
}
.project-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.project-list-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;
  background: #ffffff;
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.project-item {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
